<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <script src="https://cdn.tailwindcss.com/"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<!-- Background -->
<!-- #3f1c4c #202640 #08445e -->
<div
  class="-z-10 fixed top-0 left-0 h-full w-full bg-[#e0e0e0]"
></div>
<!-- Header -->
<div class="z-10 fixed top-0 w-full h-12 bg-black text-white flex items-center justify-between px-5">
  <p class="text-pink-500">Fraud Detection</p>
  <div class="flex space-x-5">
    <p class="m-0.5 hover:text-fuchsia-600">Home</p>
    <p class="m-0.5 hover:text-fuchsia-600">About</p> 
    <!-- <p>item</p> |
    <p>item</p> -->
  </div>

</div>
<body>
  {% block body %} {% endblock %}
  <!-- Footer -->
  <div class="fixed bottom-0 p-3 h[4rem] w-full bg-[#292524] text-white text-xl" >
    &#169; 2022 Hakathon Pitcherz | Unscript Rookies 2k22
    <!-- <svg class="inline w-3 h-3 fill-white" path='.\static\github.svg'> </svg>
    <svg class="inline w-3 h-3 fill-white" path='.\static\inkedin.svg'></svg>  -->
    <!-- social links -->
    <div class='float-right text-slate-50'>
      <svg class="inline m-2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
       Repo &nbsp;&nbsp;| 
      <a href="https://www.linkedin.com/in/prachet-shah">
        <svg class="inline m-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
         Prachet Shah | 
        </a>
      <a href="https://www.linkedin.com/in/akshit-gabhane/">
        <svg class="inline m-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
         Akshit Gabhane | 
      </a>
      <a href="https://www.linkedin.com/in/jay-bhanushali-03b647200/">
        <svg class="inline m-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
         Jay Bhanushali
      </a>
      <a href="">
        
      </a>
    </div>
  </div>
</body>
</html>