{% extends "base.html" %}
{% block title %}Flask App{% endblock %}
{% block body %}
<div class="w-full h-[90vh] flex flex-col justify-center items-center">
    <div class="
                h-auto w-96 bg-[#e0e0e0] text-white text-opacity-70 rounded-3xl 
                flex justify-center py-10
                neuro-flat">
        <form 
            action="#" method="POST"
            class="flex flex-col items-center h-auto w-full
                space-y-5"
        >
            <div class="space-y-2">
                <p class="text-slate-600 font-semibold -translate-x-1">Transaction ID</p>
                <input 
                type="text" name="transaction_id" placeholder="C905080434"
                class="bg-[#d1d1d1] text-slate-800 
                    px-4 py-2 rounded-lg
                    focus:outline-none"
                >
            </div>
            <input 
                type="submit"  value="Submit"
                class="h-12 w-auto px-4 
                    rounded-lg drop-shadow-xl
                    bg-slate-800 text-[#e0e0e0]"
            >
        </form>

    </div>
    <div>
        {% if prediction %}
            {% if prediction[0]==1 %}
                <div>Fraud detected</div>
            {% else %}
                <div>No fraud detected</div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

