.neuro-flat{
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #b0b0b0,
             -20px -20px 60px #ffffff;
}

.neuro-concave{
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}